<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link href="https://img.icons8.com/ios-glyphs/30/ffffff/philosophy.png" rel="shortcut icon" type="image/png">
    <title>Contact</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='main.css') }}">
    <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <ul id="navbar">
        <li class="top"><a href="/" class="home">PHILOSOPHY.</a></li>
        <li class="top" style="float: right; font-family: 'Josefin Sans', sans-serif;"><a href="/contact">CONTACT</a></li>
        <li class="top" style="float: right; font-family: 'Josefin Sans', sans-serif;"><a href="/about">ABOUT</a></li>
        <li class="top" style="float: right; font-family: 'Josefin Sans', sans-serif;"><a href="/">HOME</a></li>
    </ul>
    <h1 class="header">CONTACT.</h1>
    <hr class="below-header">
    <div class="middle">
        <a href="https://github.com/JavSSH" class="btn" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/kr4zyy_" class="btn" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://steamcommunity.com/id/kr4zyy" class="btn" target="_blank">
            <i class="fab fa-steam"></i>
        </a>
        <a href="https://www.instagram.com/javierssh_/" class="btn" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://youtube.com/kr4zyy" class="btn" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://twitch.tv/kr4zyycs" class="btn" target="_blank">
            <i class="fab fa-twitch"></i>
        </a>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; Copyright 2021 by JAVIER SEAH</p>
        </footer>
    </div>
</body>
</html>