<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link href="https://img.icons8.com/ios-glyphs/30/ffffff/philosophy.png" rel="shortcut icon" type="image/png">
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <ul id="navbar">
        <li class="top disable"><a href="/" class="home">PHILOSOPHY.</a></li>
        <li class="top" style="float: right; font-family: 'Josefin Sans', sans-serif;"><a href="/contact">CONTACT</a></li>
        <li class="top" style="float: right; font-family: 'Josefin Sans', sans-serif;"><a href="/about">ABOUT</a></li>
        <li class="top" style="float: right; font-family: 'Josefin Sans', sans-serif;"><a href="/">HOME</a></li>
    </ul>
    <h1 class="header">PHILOSOPHY.</h1>
    <hr class="below-header">
    <div class="body-content">
    <p>It was going to rain. The weather forecast didn't say that, but <br> the steel plate
        in his hip did. He learned over the years to <br> trust his hip over the weatherman.
        It was going to rain, <br> so he better get outside and prepare. This is the end.<br><br><br><br><br>
    </p>
    <p style="color: white;">You know that tingly feeling you get on the back of <br> your neck sometimes? I just
         got that feeling when talking <br> with her. You know I don't believe in sixth senses,
         but there is <br> something not right with her. I don't know how I know, I just do.
    </p>
    </div>
    <div class="footer">
    <footer>
        <p>&copy; Copyright 2021 by JAVIER SEAH</p>
    </footer>
    </div>
</body>
</html>